* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    // display:flex;
    // flex-direction: column;
    a {
        text-decoration: none;
        color: #8b3a00;
        &.delete-item {
            color: red;
        }
    }
    ul {
        padding-inline-start: 0;
        list-style-type: none;
    }
    margin: 0;
    header#layout-header {
        height: 10vh;
    }
    main#layout-main {
        min-height: 75vh;
    }
    footer#layout-footer {
        height: 15vh;
    }
}
